body {
    background-color: whitesmoke;
}
header {
    margin-bottom: 25px;
}

.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    transition: 0.5s;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
}

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curtain span {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
    transform-origin: right;
    transition: 0.7s ease-in;
}

.curtain.active span {
    position: absolute;
    width: 2000px;
    height: 1000px;
    background-color: lightgrey;
    animation: slide 1s forwards;
    animation-delay: 2s;
}

ul {
    position: absolute;
    z-index: 100;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0;
}

.curtain.active ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.7s;
}

.curtain ul li {
    list-style: none;
    margin: 10px 0;
}

.curtain ul li a {
    text-decoration: none;
    color: white;
     font-size: 4em;
     text-align: center;
     display: block;
}

/*
För att mobil anpassa hemsidan senare. 
@media screen and (min-width: 480px) {
    body {
        background-color: aqua;
    }
}
*/

h2 {
    margin-left: 10px;
}

#tjanster {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "immaterialratt film it"
    "upphandling marknadsratt affarsjuridik";
    text-align: center;
}

#immaterialratt {
    border: solid;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
}


#film {
    border: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#it {
    border: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#upphandling {
    border: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


#marknadsratt {
    border: solid;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}


#affarsjuridik {
    border: solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#sidfot {
    text-align: center;
    margin-top: 25px;
}

#ombyran {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "byran byranbild"
}

#byran {
    padding: 10px;
}

#medarbetare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "infomedarbetare medarbetarebild" 
}

#kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "infokontakt kontaktbild" 
}

#immaterialratttext {
    visibility: hidden;
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    transition-delay: 0;
}

.tjanstertext {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.tjanstertext span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: ease-in;
}

.tjanstertext.active span {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}