body {
    background-color: whitesmoke;
}

header {
    text-align: center;
}

/*
Ska snvändas ifall jag vill ha ett grid i nav
#header {
    display: grid;
    grid-template-columns: repeat(3fr);
    grid-template-areas:
    "h1"
}
*/

#information {
    grid-area: article; 
    text-align: center
}

/*
För att mobil anpassa hemsidan senare. 
@media screen and (min-width: 480px) {
    body {
        background-color: aqua;
    }
}
