body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.index {
    background-color: white;
}

header {
    margin-bottom: 25px;
}

.container2, .container3, .container4, .container5 {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1000;
    transition: 0.5s;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color:black;
    margin: 6px 0;
}

.bar11, .bar22, .bar33 {
    width: 50px;
    height: 8px;
    background-color:black;
    margin: 6px 0;
}

.container1 {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 1000;
    transition: 0.5s;
}

#knapp {
    pointer-events: all;
}

.curtain {
    position: fixed;
    top: 0;
    pointer-events: none;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curtain span {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: block;
    transform-origin: right;
    transition: 0.7s ease-in;
}

.curtain.active span {
    position: absolute;
    pointer-events: all;
    width: 3000px;
    height: 2000px;
    background-color: lightgrey;
    animation: slide 1s forwards;
    animation-delay: 2s;
}


ul {
    position: absolute;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0;
}

.curtain.active ul {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.7s;
}

.curtain ul li {
    list-style: none;
    margin: 10px 0;
}

.curtain ul li a {
    text-decoration: none;
    color: white;
     font-size: 4em;
     text-align: center;
     display: block;
}

#tjanster {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "immaterialratt film it"
    "upphandling marknadsratt affarsjuridik";
    text-align: center;
    height: 490px;
}

#immaterialratt {
    border: solid;
    border-color: black;
    color: red;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 180px;
}


#film {
    border: solid;
    border-color: black;
    color: red;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


#it {
    border: solid;
    border-color: black;
    color: red;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


#upphandling {
    border: solid;
    border-color: black;
    color: red;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


#marknadsratt {
    border: solid;
    border-color: black;
    color: red;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


#affarsjuridik {
    border: solid;
    border-color: black;
    border-radius: 20px;
    color: red;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}

#sidfot {
    text-align: center;
    margin-top: 400px;
}

#sidfot1{
    text-align: center;
    margin-top: 180px;
}

#sidfot2 {
    text-align: center;
    margin-top: 45px;
}

#sidfot3 {
    text-align: center;
    margin-top: 60px;
}

#sidfot4 {
    text-align: center;
    margin-top: 40px;
}
#ombyran {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#byran {
    padding: 10px;
    margin-right: 70px;
}

#byranbild {
    margin-left: 25px;
    height: 400px;
}

#medarbetare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

#infokontakt {
    padding: 15px;
    margin: 10px;
    margin-left: 200px;
}

#bildkontakt {
    height: 400px;
}

img {
    width: 650px;
    margin-top: 15px;
    margin-left: 25px;
}

#logga1 {
    margin-top: 250px;
    width: 1100px;
    margin-left: 0px;
}

#portratt {
    height: 400px;
    width: 400px;
    margin-left: 90px;
}

#infomedarbetare {
    margin-right: 100px;
    margin-top: 15px;
}

@media screen and (max-width: 480px) {
    header {
        position: sticky;
        top: 0;
        background-color: white;
    }

    #logga1 {
        width: 250px;
        margin-left: 0px;
    }

    .bar11, .bar22, .bar33 {
        width: 30px;
        height: 3px;
        background-color:black;
        margin: 6px, 0;
    }

    .container1 {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        top: 40px;
        left: 300px;
        z-index: 1000;
        transition: 0.5s;
    }

    #sidfot {
        text-align: center;
        margin-top: 780px;
    }

    #sidfot1 {
        margin-top: 430px;
    }
    #logga2 {
        width: 300px;
        margin-left: 0px;
        position: relative;
        top: 0;
    }

    #logga3 {
        width: 300px;
        margin-left: 0px;
    }

    #logga4 {
        width: 300px;
        margin-left: 0px;
    }

    #logga5 {
        width: 300px;
        margin-left: 0px;
    }
    .curtain ul li a {
        text-decoration: none;
        color: white;
        font-size: 2em;
        text-align: center;
        display: block;
        margin-right: 30px;
    }

    .curtain.active span {
        position: absolute;
        width: 500px;
        height: 1000px;
        background-color: lightgrey;
        animation: slide 1s forwards;
        animation-delay: 2s;
    }

    #tjanster {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "immateriallratt"
        "film"
        "it"
        "upphandling"
        "marknadsratt"
        "affarsjuridik";
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color:black;
        margin: 6px 0;
    }

    .container2 {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        z-index: 1000;
        transition: 0.5s;
        top: 45px;
        left: 320px;
    }

    .container3 {
        top: 45px;
        left: 320px;
    }

    .container4 {
        top: 45px;
        left: 325px;
    }

    .container5 {
        top: 45px;
        left: 325px;
    }
    .container {
    top: 46px;
    right: 20px;
    z-index: 1000;
    transition: 0.5s;
    }

    #immaterialratt {
        margin-left: 50px;
        margin-top: 20px;
        width: 250px;
    }
    #film {
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    
    #it {
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    
    #upphandling {
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    
    #marknadsratt {
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    
    #affarsjuridik {
        width: 250px;
        margin-left: 50px;
        margin-top: 20px;
    }

    #medarbetare {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "medarbetarebild"
        "infomedarbetare";
        margin-left: 10px; 
    }
    #infomedarbetare {
        max-width: 400px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    #portratt {
        height: 200px;
        width: 200px;
        margin-right: 20px;
        margin-left: 65px;
    }

    div {
        width: 350px;
        height: 600px;
    }

    #infokontakt {
        padding-top: 180px;
        margin: 10px;
        margin-left: 50px;
    }

    #ombyran {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "infobild"
        "byran";
    }

    #byranbild {
        height: 200px;

    }

    #infobild{
        height: 200px;
        width: 300px;
        margin-left: 0px;
    }

    #byran {
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #sidfot2 {
        text-align: center;
        margin-top: 320px;
    }
    #sidfot3 {
        text-align: center;
        margin-top: 280px;
    }
}
